#login {
  width: 100%;
  height: 100%;
}

.login__title h1 {
  margin: 0 0 4rem 0;
  font-size: 4rem;
}

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--login-primary-color);
  width: 70%;
  height: 100%;
}

.login__img img {
  width: 100%;
  height: 100%;
}

.login__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--login-secondary-color);
  color: var(--light-color);
  min-height: 82rem;
  max-height: 150rem;
  width: 30%;
  margin: 5rem 3rem;
  overflow-y: hidden;
  border-radius: 3rem;
  animation: login 10s linear infinite;
  transition: all 0.2s linear;
}

.login__text:hover {
  box-shadow: -0.5rem 1rem 5rem 0.5rem var(--login-secondary-color);
}

.login__text > * {
  margin: 0.5rem 0;
  position: sticky;
}

/* .login-page::before {
  content: " ";
  width: 0.5rem;
  height: 80rem;
  position: relative;
  background-color: red;
  z-index: 200;
}

.login-page::after {
  content: " ";
  width: 0.5rem;
  height: 80rem;
  position: relative;
  background-color: red;
  z-index: 200;
} */

.login__credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0;
}

.sign-in__btn {
  max-width: 100%;
  padding: 1rem 10.5rem;
  box-shadow: inset 0.07rem 0.07rem 0.07rem var(--login-primary-color);
  background-color: var(--login-button-color);
  color: var(--light-color);
  border-radius: 1rem;
  margin: 0 0 10rem 0;
  transition: all 0.2s linear;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0;
}

.email input,
.password input {
  padding: 1rem 6rem;
  border-radius: 1rem;
  margin: 0.5rem 0;
}

.create-account {
  color: var(--font-accent-color);
  transition: all 0.2s;
}

.create-account:hover {
  color: var(--light-color);
}

.or-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-or {
  border: 1px solid white;
  min-width: 7rem;
  height: 0.2rem;
  margin: 1rem;
}

.right-or {
  border: 1px solid white;
  width: 7rem;
  height: 0.2rem;
  margin: 1rem;
}

.social-login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s linear;
}
.social-login > * {
  background-color: var(--font-accent-color);
  padding: 0.8rem;
  border-radius: 1rem;
  font-size: 3rem;
  margin: 0 0.5rem 0 0;
  transition: all 0.2s linear;
  cursor: pointer;
}

.facebook {
  padding: 0.8rem 1.3rem;
}

.facebook:hover {
  background-color: rgb(41, 41, 167);
}

.twitter:hover {
  background-color: rgb(84, 157, 182);
}

.mail:hover {
  background-color: rgb(212, 62, 62);
}

.github:hover {
  background-color: black;
}

.sign-in__btn:hover {
  background-color: var(--light-color);
  color: var(--font-accent-color);
}
