*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: #170322;
  --dark-color: #07050e;
  --accent-color: rgb(110, 64, 219);
  --navbar-btn-color: rgba(52, 52, 68);
  --light-color: #f3f3f3;
  --font-accent-color: #808080;
  --card-background-color: rgb(76, 70, 87);
  --secondary-background-color: rgb(49, 37, 71);
  --login-primary-color: rgb(42, 50, 99);
  --login-secondary-color: rgb(20, 15, 46);
  --login-third-color: rgb(44, 38, 77);
  --login-button-color: rgb(72, 78, 119);
  --font-xs: 1.2rem;
  --font-s: 1.5rem;
  --font-ms: 1.8rem;
  --font-m: 2rem;
  --font-ml: 2.2rem;
  --font-l: 3rem;
  --font-xl: 4rem;
  --font-xxl: 7rem;
}

html {
  font-size: 62.5%;
  font-family: "montserrat", "Helvetica Neue", "Helvetica";
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  background-color: var(--login-primary-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
  cursor: pointer;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.btn {
  font-family: inherit;
  text-overflow: none;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn__primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  box-shadow: inset 0 0 0 0.1rem var(--accent-color);
}

.btn__secondary {
  background-color: var(--primary-color);
  color: var(--light-color);
  box-shadow: inset 0 0 0 0.1rem var(--font-accent-color);
}

.btn__primary:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.btn__secondary:hover {
  background-color: var(--font-accent-color);
  color: var(--dark-color);
}

.secondary-text {
  color: var(--font-accent-color);
  font-family: inherit;
}

